



<!doctype html>
<html lang="en">
<head>
    <title>Gallery_detail - The Spiritual Arts</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="robots" content="index,follow">
<meta name="Googlebot" content="index, follow"/>
<meta name="distribution" content="Global">
<meta name="revisit-after" content="2 Days" />
<meta name="classification" content="Hotel, Hotels in Nepal" />
<meta name="category" content="Hotel, Hotels in Nepal" />
<meta name="language" content="en-us" />
<meta name="keywords" content="The Spiritual Arts | Arts & crafts shop">
<meta name="description" content="The Spiritual Arts gallery is located in Okubahal, Patan. It is a cozy little three-storied art gallery opened by Saziv Shakya.">
<meta name="author" content="Longtail-e-media">
<meta name="msvalidate.01" content="D3ADCF98EF3FBD0D274199D4EAE2A73E" />
<link rel="canonical" href="https://ycafe.org:443/thespiritualarts/gallery/hand-sketch" />
<base url="https://ycafe.org/thespiritualarts/"/>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122257584-20"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-122257584-20');
		</script>
<script type="application/ld+json">
	{
		"@context": "http://schema.org/",
		"@type": "Organization",
		"headline": "The Spiritual Arts|The Spiritual Arts",
		"keywords": "The Spiritual Arts | Arts & crafts shop",
		"description": "The Spiritual Arts gallery is located in Okubahal, Patan. It is a cozy little three-storied art gallery opened by Saziv Shakya.",
		"url": "https://ycafe.org/thespiritualarts/",
		"sameAs": [
					"https://www.facebook.com/The-Spiritual-Arts-1842446452700857/"
					],
		"image": {
		  "@type": "ImageObject",
		  "height": "",
		  "width": "",
		  "url": "https://ycafe.org/thespiritualarts/images/preference/DR5RV-logo.jpg"
		},
		"author": "The Spiritual Arts",
		"publisher": {
		  "@type": "Organization",
		  "logo": {
			"@type": "ImageObject",
			"url": "https://ycafe.org/thespiritualarts/images/preference/DR5RV-logo.jpg"
		  },
		  "name": "The Spiritual Arts|The Spiritual Arts"
	  }}</script>

    <link rel="shortcut icon" href="https://ycafe.org/thespiritualarts/images/preference/aNcT6-logo.jpg">
							    <link rel="apple-touch-icon" href="https://ycafe.org/thespiritualarts/images/preference/aNcT6-logo.jpg">
							    <link rel="apple-touch-icon" sizes="72x72" href="https://ycafe.org/thespiritualarts/images/preference/aNcT6-logo.jpg">
							    <link rel="apple-touch-icon" sizes="114x114" href="https://ycafe.org/thespiritualarts/images/preference/aNcT6-logo.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css'>
    <link rel="stylesheet" type="text/css"
          href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
    <link rel="stylesheet" href="https://ycafe.org/thespiritualarts/template/cms/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://ycafe.org/thespiritualarts/template/cms/css/lightbox.min.css" type="text/css">
    <link rel="stylesheet" href="https://ycafe.org/thespiritualarts/template/cms/gallery/css/lightgallery.css" type="text/css">
</head>

<body>
<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
    <div class="container">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="navbar-nav">
                <ul id="menu"><li><a href="https://ycafe.org/thespiritualarts/home"   >HOME</a></li><li><a href="https://ycafe.org/thespiritualarts/page/about"   >ABOUT GALLERY</a></li><li><a href="https://ycafe.org/thespiritualarts/portfolio"   >PORTFOLIO</a></li><li><a href="https://ycafe.org/thespiritualarts/gallery"   >PHOTOS</a></li><li><a href="https://ycafe.org/thespiritualarts/video"   >VIDEOS</a></li><li><a href="https://ycafe.org/thespiritualarts/page/saziv-shakya"   >ARTIST SAZIV SHAKYA</a></li><li><a href="https://ycafe.org/thespiritualarts/contact"   >CONTACT</a></li>
            </div>
        </div>
    </div>
</nav>
<!--NAVBAR END-->

<!--banner -->
<div class="banner">
    <div>
        <img src="https://ycafe.org/thespiritualarts/template/cms/images/default-media-event-detail-banner.jpg">
        <h2>Hand Sketch</h2>
    </div>
</div>
<!--Banner end-->

<!--gallery-->
<div class="gallery">
    <div class="container">
        <div class="inner-page-main-title mar-bottom-30 text-center">
            <p>The eminent artist Saziv Shakya has perfected the style of blending the traditional paubha with the elements of metal-carving.
            He plans to introduce the very original 8D paintings, the work of art that is intended to cater to other human senses besides the visuals.</p>
        </div>
        <div class="row" id="lightgallery">
                <div class="col-xs-12 col-sm-6 col-lg-3 item hand-sketch"
                    data-responsive="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/lqrpz-seven.jpg"
                    data-src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/lqrpz-seven.jpg"
                    data-sub-html="<h4>hand sketch art</h4>">
                    <a href="">
                        <img src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/lqrpz-seven.jpg" alt="hand sketch art" class="img-fluid">
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-3 item hand-sketch"
                    data-responsive="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/hqTMJ-eight.jpg"
                    data-src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/hqTMJ-eight.jpg"
                    data-sub-html="<h4>hand sketch art</h4>">
                    <a href="">
                        <img src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/hqTMJ-eight.jpg" alt="hand sketch art" class="img-fluid">
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-3 item hand-sketch"
                    data-responsive="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/Q1duU-three.jpg"
                    data-src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/Q1duU-three.jpg"
                    data-sub-html="<h4>hand sketch art</h4>">
                    <a href="">
                        <img src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/Q1duU-three.jpg" alt="hand sketch art" class="img-fluid">
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-3 item hand-sketch"
                    data-responsive="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/1XP04-one.jpg"
                    data-src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/1XP04-one.jpg"
                    data-sub-html="<h4>hand sketch art</h4>">
                    <a href="">
                        <img src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/1XP04-one.jpg" alt="hand sketch art" class="img-fluid">
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-3 item hand-sketch"
                    data-responsive="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/PUt9M-two.jpg"
                    data-src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/PUt9M-two.jpg"
                    data-sub-html="<h4>hand sketch art</h4>">
                    <a href="">
                        <img src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/PUt9M-two.jpg" alt="hand sketch art" class="img-fluid">
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-3 item hand-sketch"
                    data-responsive="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/71C26-ten.jpg"
                    data-src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/71C26-ten.jpg"
                    data-sub-html="<h4>hand sketch art</h4>">
                    <a href="">
                        <img src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/71C26-ten.jpg" alt="hand sketch art" class="img-fluid">
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-3 item hand-sketch"
                    data-responsive="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/Gze1v-six.jpg"
                    data-src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/Gze1v-six.jpg"
                    data-sub-html="<h4>hand sketch art</h4>">
                    <a href="">
                        <img src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/Gze1v-six.jpg" alt="hand sketch art" class="img-fluid">
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-3 item hand-sketch"
                    data-responsive="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/fEh1G-four.jpg"
                    data-src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/fEh1G-four.jpg"
                    data-sub-html="<h4>hand sketch art</h4>">
                    <a href="">
                        <img src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/fEh1G-four.jpg" alt="hand sketch art" class="img-fluid">
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-3 item hand-sketch"
                    data-responsive="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/9rAyU-nine.jpg"
                    data-src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/9rAyU-nine.jpg"
                    data-sub-html="<h4>hand sketch art</h4>">
                    <a href="">
                        <img src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/9rAyU-nine.jpg" alt="hand sketch art" class="img-fluid">
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-3 item hand-sketch"
                    data-responsive="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/tfBXb-five.jpg"
                    data-src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/tfBXb-five.jpg"
                    data-sub-html="<h4>hand sketch art</h4>">
                    <a href="">
                        <img src="https://ycafe.org/thespiritualarts/images/gallery/galleryimages/tfBXb-five.jpg" alt="hand sketch art" class="img-fluid">
                    </a>
                </div>
        </div>
    </div>
</div>
<!--gallery end-->

<!--footer-->

     <footer>
        <div class="footer-upper pad-bottom-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="footer-about">
                            <ul class="footer-about-info">
                                <li><i class="fa fa-map"></i> Thaina, Okubahal, Patan, Lalitpur</li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="footer-about">
                            <ul class="footer-about-info">
                                <li><i class="fa fa-phone"></i><a href="tel:977-9803214009">977-9803214009</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="footer-about">
                            <ul class="footer-about-info">
                                <li><i class="fa fa-envelope"></i><a href="mailto: info&#64;thespiritualart&#46;com&#46;np">info&#64;thespiritualart&#46;com&#46;np</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="footer-about">
                        <ul class="social-links">
                            <ul class="footer-menu list-unstyled">
            <li>
                <a href="https://www.facebook.com/The-Spiritual-Arts-1842446452700857/" target="_blank" >
                    <i class="fab fa-facebook-square" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="copyright-text pull-left">

        <p>Copyright © 2021 The Spiritual Arts. All Rights Reserved.
        <span>Designed By: <a href="http://longtail.info/n/" target="_blank">Longtail e-media</a></span></p>

                </div>
            </div>
        </div>
    </footer>

<!--footer end-->

<!--SCROLL TO TOP-->
<div>
    <a class="gotobtn" href="#"><i class="fas fa-chevron-circle-up"></i></a>
</div>
<!--SCROLL TO TOP END-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ycafe.org/thespiritualarts/template/cms/js/lightbox-plus-jquery.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://ycafe.org/thespiritualarts/template/cms/css/isotope.min.js"></script>
<script src="https://ycafe.org/thespiritualarts/template/cms/gallery/js/lightgallery.js"></script>
<script src="https://ycafe.org/thespiritualarts/template/cms/gallery/js/lg-pager.js"></script>
<script src="https://ycafe.org/thespiritualarts/template/cms/gallery/js/lg-autoplay.js"></script>
<script src="https://ycafe.org/thespiritualarts/template/cms/gallery/js/lg-fullscreen.js"></script>
<script src="https://ycafe.org/thespiritualarts/template/cms/gallery/js/lg-zoom.js"></script>
<script src="https://ycafe.org/thespiritualarts/template/cms/gallery/js/lg-hash.js"></script>
<script src="https://ycafe.org/thespiritualarts/template/cms/gallery/js/lg-share.js"></script>
<script type="text/javascript" src="js/index.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        lightGallery(document.getElementById('lightgallery'));

        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('nav').addClass('shrink');
                $('.gotobtn').fadeIn();
            }
            else {
                $('nav').removeClass('shrink');
                $('.gotobtn').fadeOut();
            }
        });

        lightbox.option({
            'resizeDuration': 200,
            'disableScrolling': true,
            'wrapAround': true
        });
    });

    (function () {
        'use strict';

        var $projects = $('.projects');

        $projects.isotope({
            itemSelector: '.item',
            layoutMode: 'fitRows'
        });

        $('ul.filters > li').on('click', function (e) {

            e.preventDefault();

            var filter = $(this).attr('data-filter');

            $('ul.filters > li').removeClass('active');
            $(this).addClass('active');

            $projects.isotope({filter: filter});

        });
    })(jQuery);
</script>

</body>
</html>